$fabled: #666666;
$loric: #666666;
$townsfolk: #333333;
$outsider: #555555;
$minion: #444444;
$demon: #222222;
$traveller: #666666;


$gold: #000000;
$purple: #333333;
$dark-purple: #f5f5f5;
$crimson: #222222;
$parchment: #ffffff;
